[color]
	ui = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[core]
	editor = vim
	autocrlf = false
[push]
    default = current
[alias]
	st = status
	cm = commit -m
	p = push
	pr = pull --rebase
	sh = stash
	sp = stash pop
	sa = stash apply
	d = difftool
	cp = cherry-pick
	show-files = "!f() { git diff-tree --no-commit-id --name-only -r $1; }; f"
    show-diff = "!f() { git difftool $1^ $1; }; f"
    pretty-log = log --graph --pretty=format:\"%Cred%h%Creset \
-%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" \
--abbrev-commit --date=relative --max-count=50
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[include]
	path = ~/.gitconfig.local
